body {
    text-align: center;
    list-style: none;
    color:white;
    font-family: cursive;
    background-color: rgb(47, 47, 47);
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a:link, a:visited {
    color: white;
}

a:hover, a:active {
    color: limegreen;
}