/*General Formatting*/

html {
    background-color: rgb(77, 77, 77);
}

body {
    position: absolute;
    background-color: rgb(77, 77, 77);
    color: white;
    height: 100%;
    width: 99%;
}

/*Fonts*/

@font-face {
    font-family: 'PrintClearly';
    src: url(PrintClearly.otf) format('opentype');
}

/*Grid Layout*/

.grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: repeat(6, 1fr) / 1fr 3fr;
}

.bar1 {
    grid-area: 1 / 1 / span 1 / span 1;
}

.bar2 {
    grid-area: 2 / 1 / span 1 / span 1;
}

.bar3 {
    grid-area: 3 / 1 / span 1 / span 1;
}

.bar4 {
    grid-area: 4 / 1 / span 1 / span 1;
}

.bar5 {
    grid-area: 5 / 2 / span 1 / span 1;
    border-left: Cyan solid 5px;
}

.bar6 {
    grid-area: 6 / 1 / span 1 / span 1;
}

.heading {
    grid-area: 1 / 2 / span 2 / span 1;
    border-left: Cyan solid 5px;
}

.desc {
    grid-area: 3 / 2 / span 2 / span 1;
    border-left: Cyan solid 5px;
}

.foot {
    grid-area: 6 / 2 / span 1 / span 1;
    border-left: Cyan solid 5px;
}

.grid2 {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr / 3fr 1fr;
    font-size: 1.5em;
}

.bar1-1 {
    text-align: center;
    font-size: 2em;
    grid-area: 1 / 1 / span 1 / span 2;
    font-family: cursive;
    -webkit-text-stroke: cyan 2px;
}

.bar2-1 {
    text-align: center;
    font-size: 2em;
    grid-area: 3 / 1 / span 1 / span 2;
    font-family: cursive;
    -webkit-text-stroke: cyan 2px;
}

.bar3-1 {
    text-align: center;
    font-size: 2em;
    grid-area: 5 / 1 / span 1 / span 2;
    font-family: cursive;
    -webkit-text-stroke: cyan 2px;
}

.bar4-1 {
    text-align: center;
    font-size: 2em;
    grid-area: 7 / 1 / span 1 / span 2;
    font-family: cursive;
    -webkit-text-stroke: cyan 2px;
}

.bar5-1 {
    text-align: center;
    font-size: 2em;
    grid-area: 9 / 1 / span 1 / span 2;
    font-family: cursive;
    -webkit-text-stroke: cyan 2px;
}

.bar6-1 {
    text-align: center;
    font-size: 2em;
    grid-area: 11 / 1 / span 1 / span 2;
    font-family: cursive;
    -webkit-text-stroke: cyan 2px;
}

.bar7-1 {
    text-align: center;
    font-size: 2em;
    grid-area: 13 / 1 / span 1 / span 2;
    font-family: cursive;
    -webkit-text-stroke: cyan 2px;
}

.bar1-2 {
    grid-area: 2 / 1 / span 1 / span 1;
}
.bar1-3 {
    grid-area: 2 / 2 / span 1 / span 1;
}
.bar2-2 {
    grid-area: 4 / 1 / span 1 / span 1;
}
.bar2-3 {
    grid-area: 4 / 2 / span 1 / span 1;
}
.bar3-2 {
    grid-area: 6 / 1 / span 1 / span 1;
}
.bar3-3 {
    grid-area: 6 / 2 / span 1 / span 1;
}
.bar4-2 {
    grid-area: 8 / 1 / span 1 / span 1;
}
.bar4-3 {
    grid-area: 8 / 2 / span 1 / span 1;
}
.bar5-2 {
    grid-area: 10 / 1 / span 1 / span 1;
}
.bar5-3 {
    grid-area: 10 / 2 / span 1 / span 1;
}
.bar6-2 {
    grid-area: 12 / 1 / span 1 / span 1;
}
.bar6-3 {
    grid-area: 12 / 2 / span 1 / span 1;
}
.bar7-2 {
    grid-area: 14 / 1 / span 1 / span 1;
}
.bar7-3 {
    grid-area: 14 / 2 / span 1 / span 1;
}

/*Navigation*/

header nav a {
    font-family: 'PrintClearly', Serif;
    text-decoration: none;
    font-size: 2em;
}

header nav a:link, header nav a:visited {
    color: white;
}

header nav a:active, header nav a:hover {
    color: cyan;
}

/*Header*/

h1.welcome {
    font-family: cursive;
    font-size: 4em;
    -webkit-text-stroke: cyan 2px;
    text-align: center;
}

/*Paragraphs*/

p {
    text-align: center;
    font-size: 2em;
}

/*Images*/

img {
    width: 100%;
}

/*Footer*/

footer {
    font-family: 'PrintClearly';
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 178px;
}

footer > a {
    text-decoration: none;
}

footer > a:link, footer > a:visited {
    color: white;
}

footer > a:hover, footer > a:active {
    color:rgb(56, 128, 228);
}

/*Links*/

a:link, a:visited {
    color: white;
    font-family: 'PrintClearly';
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

a:active, a:hover {
    color: cyan;
    font-family: 'PrintClearly';
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

#msLarge {
    width: 75%;
    float: right;
}

#mcLink:link, #mcLink:visited {
    color: cyan;
    font-family: 'Times New Roman';
    font-size: 24px;
}

#mcLink:hover, #mcLink:active {
    font-family: 'Times New Roman';
    color: darkblue;
    font-size: 24px;
}